<!doctype html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="16x16">
<script type="text/javascript" src="{{ url_for('static', filename='js/brython.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/brython_stdlib.js') }}"></script>

<title>Brython 演示</title>
<style>
body{
    font-size: 14px;
    font-family: Helvetica;
}

a{
    color: #333;
}

a.menu{
    text-decoration: none;
}

a.menu:hover{
    background-color: #ccc;
}

a.selected{
    font-weight: bold;
}

a:visited{
    color: #333;
}

li{
    list-style-type: none;
}

#panel{
    display:table-cell;
    width:65%;
    padding-right:2%;
    text-align: left;
}

button{
    background-color: #dadada;
    color: #113;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 3px;
    font-size: 1.2em;
}
button.btn-ls{
    font-size: 1em;
}

div.example{
    margin-top: 2em;
    display: none;
}

pre{
    display: inline-block;
    padding: 1em;
    font-family: Consolas, Courier New;
    color: #ff9;
    background-color: #114;
    border-radius: 10px;
    margin-top: 2em;
    width: 66%;
}

pre.html{
    padding: 0.5em;
}

.zone{
    margin-left: 5em;
    padding: 1em;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
    width: 20em;
}

code{
    font-family: Consolas, Courier New;
    color: #113;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

code.file{
    background-color: #fff;
    font-weigth: bold;
    font-style: italic;
}

#moving{
    position: relative;
    left:140px;
    top:10px;
    font-size:16px;
    padding: 3px;
    background-color: var(--clear-2);
    border-radius: 4px;
}

.up{
    font-size: 1.2em;
}
.down{
    font-size:0.8em;
}

/* colors for highlighted Python code */

span.python-string{
    color: #6aa;
}
span.python-comment{
    color: #6a6;
}
span.python-keyword{
    color: #42ebf4;
}
span.python-builtin{
    color: #0f0;
}
</style>

</head>

<body onload="brython({debug: 1, indexedDB: false})">

<h1 style="text-align: center"><a href="http://brython.info" target="_blank" class="external">Brython</a></h1>
<div style="display:table; width:100%;">
  <div style="display: table-row">
    <div style="display: table-cell; width:20%; vertical-align: top;">
      <ul id="menu">
      </ul>
    </div>
    <div style="" id="panel">
      <div id="intro">
        <p>本页展示了一些如何使用 Python 作为脚本语言与网页交互的示例：创建新元素、访问和修改现有元素、创建图形、动画、发送 Ajax 请求等。
        <p>脚本使用由 W3C 定义的文档对象模型 (DOM) 中描述的对象 - 页面中显示的元素、应用于这些元素的样式、事件等。 此页面中使用的参考资料是&nbsp;
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model" target="_blank" class="external">Mozilla 开发人员网络</a>
        &nbsp;(Mozilla Developer Network - MDN) 文档。
        <p>尽管 DOM 本质上与语言无关，但 MDN 文档中的大多数示例都是用 Javascript 编写的，而（还 ;-）不是用 Python 编写的。 翻译通常很简单，因为 Brython 支持所有 DOM 类型及其属性和方法。
        <p>在某些情况下，Brython 添加了更多 Pythonic 语法：您将通过浏览示例来发现它们。
        <p>更多文档和示例可以在 <a href="http://brython.info" target="_blank" class="external">Brython 网站</a>上找到。
      </div>
    </div>
  </div>
</div>


<div class="example" id="ex0">
    <button id="button_alert">显示警告框</button>

    <script type="text/python" id="script0">
    from browser import document, alert

    def hello(ev):
        alert("Hello !")

    document["button_alert"].bind("click", hello)
    </script>

    <p>
    <pre class="python"></pre>

    <p><span class="comment">
    <code>browser</code> 是一个 Brython 特定的模块，它定义了用于与页面交互的对象。
    <p><code>document</code> 是一个代表 HTML 文档的对象；
    <code>document[element_id]</code> 是属性 id 等于 element_id 的元素。在此示例中，
    <code>document["button0"]</code> 是对您单击的按钮的引用。
    <p><code>bind(<i>event, function</i>)</code> 是一个元素的方法，它接受两个参数，
    事件的名称和当事件发生在元素上时要调用的函数。 当用户点击元素时，此事件称为“click”。 
    代码的意思是：当用户点击元素（这里是“显示警告框”按钮）时，调用函数<code>hello</code>。 
    该函数接受一个参数，即事件的对象。
    <p><code>alert</code> 用于显示小的弹出窗口。
    </span>
</div>

<div class="example" id="ex_dialog">
    <button id="button_dialog">显示弹出窗口</button>

    <script type="text/python" id="script_dailog">
    from browser import document
    from browser.widgets.dialog import InfoDialog

    def hello(ev):
        InfoDialog("弹窗", "Hello world!", left=ev.x, top=ev.y)

    document["button_dialog"].bind("click", hello)
    </script>

    <p>
    <pre class="python"></pre>

    <p><span class="comment">
    您可以使用内置模块 <code class="module">browser.widgets.dialog</code> 提供的对话框来代替浏览器警告框。
    <p>在这里，框通过关键字参数<code>left</code> 和 <code>top</code> 定位在鼠标位置（由事件对象的属性 <code>x</code> 和 <code>y</code> 给出）。
    </span>
</div>

<div class="example" id="ex1">
    <button id="button1">改变元素中的文字</button>
    <span id="zone1" class="zone">初始内容</span>

    <script type="text/python" id="script1">
    from browser import document

    def change(event):
        document["zone1"].textContent = "改变后的内容"

    document["button1"].bind("click", change)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    元素的属性和方法在文档对象模型 (DOM) 中进行了描述，该模型有大量文档（例如 <a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model" class="external">Mozilla</a>）。
    <p><code>textContent</code> 是 <a href="https://developer.mozilla.org/en-US/docs/Web/API/Node" target="_blank" class="external">Node</a> 实例的属性； 它用于获取或设置元素的文本内容。
    <p>Brython 支持所有 DOM 方法和属性； 对于文本内容，它提供了一个快捷方式，<code>text</code>，因此也可以编写函数体：Brython supports all the DOM methods and attributes ; for text content
    <pre class="python">
    def change(event):
        document["zone1"].text = "改变后的内容"
    </pre>
</code>
</span>
</div>

<div class="example" id="ex2">
    <button id="button2">改变元素的样式</button>
    <span id="zone2" style="color:blue;background-color:#aad;" class="zone">元素样式</span>

    <script type="text/python" id="script2">
    from browser import document

    element = document["zone2"]

    def change(event):
        style = element.style
        color = style.color
        style.color = "#cc8" if color == "blue" else "blue"
        style.backgroundColor = "gray" if color == "blue" else "#aad"
        style.fontWeight = "bold" if color == "blue" else "normal"
        style.fontSize = "18px" if color == "blue" else "14px"

    document["button2"].bind("click", change)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    元素有一个属性样式 <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/style" target="_blank"><code>style</code></a>，它本身（除其他外）有 <code>color</code>（文本颜色）、<code>backgroundColor</code> （背景颜色）, <code>fontWeight</code> （“粗体”或“正常”）, <code>fontSize</code>（字母大小，以像素为单位）、 等等
    <p>在<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference" target="_blank" class="external">此处</a>查找有关 CSS 的参考。
    <p>请注意，带有连字符的属性名称是 CSS 在 Python 代码中以驼峰命名法编写：例如，要设置 CSS 属性 <code>background-color</code>，语法为 <code>style.backgroundColor</code>
    </span>

</div>

<div class="example" id="ex_class">
    <button id="button_class">改变元素的类</button>
    <span id="zone_class" style="color:blue;background-color:#aad;" class="zone">文本</span>

    <script type="text/python" id="script_class">
    from browser import document

    element = document["zone_class"]
    element.classList.add("down")

    def change_class(event):
        if "up" in element.classList:
            element.classList.remove("up")
            element.classList.add("down")
        else:
            element.classList.remove("down")
            element.classList.add("up")

    document["button_class"].bind("click", change_class)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    元素有一个属性 
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/Element/classList" target="_blank" class="external"><code>classList</code></a>，
    其值在元素的属性 <code>class</code> 中设置。
    <p>它是类 
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/DOMTokenList" target="_blank" class="external"><code>DOMTokenList</code></a> 
    的一个实例，它支持方法 <code>add()</code> and <code>remove()</code>。
    </span>

</div>


<div class="example" id="ex3">
    <button id="button3">隐藏或显示元素</button>
    <span id="zone3" class="zone">on / off</span>

    <script type="text/python"  id="script3">
    from browser import bind, document

    @bind("#button3", "click")
    def change(event):
        display = document["zone3"].style.display
        document["zone3"].style.display = "inline" if display == "none" else "none"

    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    <code>display</code> 是 <code>style</code> 的另一个属性。 将其设置为 <code>"none"</code> 会隐藏元素。
    <p>请注意，在此示例中，我们使用语法的变体将事件绑定到函数。 与我们之前看到的
    使用 DOM 元素的 <i>方法method</i> <code>bind</code> 的表单不同，这里我们使用模块浏览器中定义的<i>函数function</i> <code>bind</code>。 
    它用作回调函数的装饰器，并接受两个参数：
    <ul>
    <li>- 要绑定的元素的标识符：对元素的引用或 <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors"
        class="external">CSS 选择器</a>（这里，选择器“#button3”指的是按钮）
    <li>- 事件名称
    </ul>
    </span>
</div>

<div class="example" id="ex6_std">
    <button id="button6_std">插入一个元素（标准 DOM 方法）</button>
    <span id="zone6_std" class="zone">初始内容</span>

    <script type="text/python" id="script6_std">
    from browser import document, html

    element = document.getElementById("zone6_std")
    nb = 0

    def change(event):
        global nb
        elt = document.createElement("B")
        txt = document.createTextNode(f" {nb}")
        elt.appendChild(txt)
        element.appendChild(elt)
        nb += 1

    document["button6_std"].addEventListener("click", change)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">此示例使用标准 DOM 方法创建元素（<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/createElement" target="_blank" class="external"><code>document.createElement()</code></a>、<a href="https://developer.mozilla.org/en-US/docs/Web/API/Document/createTextNode" target="_blank" class="external"><code>createTextNode()</code></a>）并将它们附加到其他元素或文档（<a href="https://developer.mozilla.org/en-US/docs/Web/API/Node/appendChild" target="_blank"><code>Node.appendChild()</code></a>）。
    <p>请注意，在最后一行，我们使用标准 DOM 方法 <a href="https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener" target="_blank" class="external"><code>EventTarget.addEventListener()</code></a> ：其他示例中使用的方法 <code>bind()</code> 是 Brython 特定的。
    <p>还要注意在行中使用 f-string 进行字符串格式化（<a href="https://www.python.org/dev/peps/pep-0498/" target="_blank" class="external">PEP 448</a>，在 Python 3.6 中引入）
    <pre class="python">

        txt = document.createTextNode(f" {nb}")
    </pre>
    </span>

</div>

<div class="example" id="ex6">
    <button id="button6">插入一个元素（Brython方法）</button>
    <span id="zone6" class="zone">初始内容</span>

    <script type="text/python" id="script6">
    from browser import document, html

    element = document["zone6"]
    nb = 0

    def change(event):
        global nb
        element <= html.B(f" {nb}")
        nb += 1

    document["button6"].bind("click", change)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        <p>为了创建 DOM 元素，Brython 提供了模块 <code class="module">browser.html</code>。 它使用大写的所有有效 HTML 标记的名称定义类； <code>html.B("消息内容")</code> 创建元素 <B>消息内容</B></p>
        <p>为了在另一个元素中包含一个元素，Brython 使用运算符 <code><=</code> ：将其视为左箭头，而不是“小于或等于”。 运算符的使用更加简洁，并且避免了使用函数调用。</p>
    </span>

</div>

<div class="example" id="ex61">
    <button id="button61">在元素前插入</button>
    <div id="zone61" class="zone"><ul><li>原元素</ul></div>

    <script type="text/python" id="script61">
    from browser import document, html

    ul = document["zone61"].get(selector="ul")[0]
    element = ul.get(selector="li")[0]
    nb = 0

    def change(event):
        global nb
        nb += 1
        ul.insertBefore(html.LI(f"前插的新元素 {nb}"), element)

    document["button61"].bind("click", change)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        我们使用标准的 DOM 方法 <a href="https://developer.mozilla.org/en-US/docs/Web/API/Node/insertBefore" class="external">insertBefore()</a>
    </code>
    </span>

</div>

<div class="example" id="ex62">
    <button id="button62">在元素后插入</button>
    <div id="zone62" class="zone"><ul><li>原元素</ul></div>

    <script type="text/python" id="script62">
    from browser import document, html

    ul = document["zone62"].get(selector="ul")[0]
    element = ul.get(selector="li")[0]
    nb = 0

    def change(event):
        global nb
        nb += 1
        ul.insertBefore(html.LI(f"后插的新元素 {nb}"), element.nextSibling)

    document["button62"].bind("click", change)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        我们使用标准的 DOM 方法 <a href="https://developer.mozilla.org/en-US/docs/Web/API/Node/insertBefore" class="external">insertBefore()</a> 并在 <a href="https://developer.mozilla.org/en-US/docs/Web/API/Node/nextSibling" class="external">element.nextSibling</a> 之后插入元素。 如果元素是其父子元素中的最后一个，则 <code>nextSibling</code> 为 <code>null</code>，因此新元素将插入到最后。
    </code>
    </span>

</div>


<div class="example" id="ex_elt_attr">
    <button id="button_elt_attr">插入带有属性的元素</button>
    <span id="zone_elt_attr" class="zone">初始内容</span>

    <script type="text/python" id="script_elt_attr">
    from browser import document, html

    element = document["zone_elt_attr"]

    def insert(event):
        element <= html.SPAN("新加红色文本",
            style=dict(color="red", paddingLeft="1em"),
            Class="down")

    document["button_elt_attr"].bind("click", insert)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        <p>标记的属性被定义为 html 类构造函数的关键字参数。</p>
        <p>请注意，样式属性是作为字典传递的； 还要注意，由于 <code>class</code> 是 Python 关键字，它不能用作键，所以我们使用 <code>Class</code> 代替（标签属性不区分大小写）。</p>
    </span>
</div>

<div class="example" id="ex7">
    <button id="button7">插入 HTML 表格</button>
    <p>
    <div id="zone7" class="zone" style="width:60%"></div>

    <script type="text/python" id="script7">
    from browser import document
    from browser.html import TABLE, TR, TH, TD

    def insert_table(event):
        table = TABLE()

        # header row
        table <= TR(TH(f"列 {i}") for i in range(5))

        # table rows
        for row in range(3):
            table <= TR(TD(f"格 {row}-{i}") for i in range(5))

        document["zone7"].clear()
        document["zone7"] <= table

    document["button7"].bind("click", insert_table)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        <p>要建立一个表格，我们使用 HTML 标签 <code>TABLE、TR、TH</code> 和 <code>TD</code>。</p>
        <p>传递给 <code class="module">browser.html</code> 中定义的类的第一个属性是字符串、类的另一个实例或<i>此类元素的迭代器</i>。</p>
        <p>在这里，我们使用 Python 生成器表达式在表格的第一行 (<code>TR</code>) 中包含多个标题 (<code>TH</code>)，并在接下来的行中包含表格单元格 (<code>TD</code>)。</p>
        <p><code>clear()</code> 是一种删除所有元素内容的方法。</p>
    </code>
    </span>

</div>


<div class="example" id="ex12">
    <button id="button12">插入下拉菜单</button>
    <span id="zone12" class="zone"></span>

    <script type="text/python" id="script12">
    from browser import document, html
    from browser.widgets.dialog import InfoDialog

    def show(event):
        dropdown = event.target
        num = dropdown.selectedIndex
        InfoDialog("示例", "被选项: {}".format(dropdown.options[num].value))

    def insert_dropdown(event):
        document["zone12"] <= "你的选择： "
        dropdown = html.SELECT(html.OPTION(f"选择 {i}") for i in range(5))
        dropdown.bind("change", show)
        document["zone12"] <= dropdown

    document["button12"].bind("click", insert_dropdown)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        <p>我们通过 SELECT 元素构建下拉菜单，使用生成器表达式和菜单中显示的 OPTION 元素。</p>
        <p>当用户更改菜单中的选定选项时，会在 SELECT 框上触发“更改”事件。 这是在行中完成的</p>
        <p> </p>
    <pre class="python">
    dropdown.bind("change", show)
    </pre>
    <p>

    <p>在函数 <code>show(event)</code> 中，<code>event.target</code> 是元素本身。</p>
    <p><a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement" target="_blank">SELECT</a> 元素有一个属性 <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/selectedIndex" target="_blank"><code>selectedIndex</code></a>，即选项列表中所选项目的排名，可通过其属性 <code>options</code> 获得。 OPTION 元素本身有一个属性值，这里是选项文本。</p>
    </span>
</div>


<div class="example" id="ex8">
    <button id="button8">在画布上绘制</button>
    <canvas id="zone8" width="200" height="50"
        style="border-color:#000;border-style:solid;border-width:1px;margin-left:5em;"></canvas>

    <script type="text/python" id="script8">
    from browser import document, html
    import math

    canvas = document["zone8"]
    ctx = canvas.getContext("2d")

    x = 20

    def draw(event):
        global x
        ctx.beginPath()
        ctx.arc(x, 25, 15, 0, 2 * math.pi)
        x += 15
        ctx.stroke()

    document["button8"].bind("click", draw)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        <p>我们首先导入模块 <code class="module">math</code> ，与 Python 标准发行版中的相同。</p>
        <p><a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API" target="_blank">Canvas</a> 是用于在页面中绘制几何图形的 API。 MDN 页面上的示例是用 Javascript 编写的，但是使用 Brython 也很容易。</p>
    </span>
</div>

<div class="example" id="ex9">
    <button id="button9">插入图像</button>
    <p><div id="zone9" class="zone" style="height:60px;"></div>

    <script type="text/python"  id="script9">
    from browser import document, html

    logo = "https://www.python.org/static/community_logos/python-logo-master-v3-TM.png"

    def insert_image(event):
        document["zone9"].clear()
        document["zone9"] <= html.IMG(src=logo, height=50)

    document["button9"].bind("click", insert_image)
    </script>
</div>

<div class="example" id="ex16">
    <button id="button16">获取表单字段的值</button>
    <p><div id="zone16" class="zone"></div>

    <p><div style="width:30%; padding-left:3em; background-color:#ddd;">
      <p><input id="input16" autocomplete="off" placeholder="餐厅名称">
      <br><select id="select16" autocomplete="off">
          <option value="小炒肉">小炒肉套餐
          <option value="宫保鸡丁">宫保鸡丁套餐
          <option value="鱼香肉丝">鱼香肉丝套餐
      </select>
      <br>
      <textarea id="textarea16" rows=3 cols=30 autocomplete="off" placeholder="添加备注 !..."></textarea>
    </div>

    <script type="text/python" id="script16">
    from browser import document, html

    def show_values(event):
        input = document["input16"].value
        select = document["select16"]
        option = select.options[select.selectedIndex].value
        text = document["textarea16"].value
        document["zone16"].clear()
        document["zone16"] <= (f"你选择的餐厅: {input}",
            html.BR(), f"套餐: {option}",
            html.BR(), f"备注: {text}"
            )

    document["button16"].bind("click", show_values)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

</div>

<div class="example" id="ex13">
    <button id="button13">通过 CSS 选择器选择元素</button>
    <span id="zone13" class="zone"></span>

    <script type="text/python" id="script13">
    from browser import document, html

    def change(event):
        # clear the zone
        document["zone13"].clear()

        # get a list of all BUTTON elements
        buttons = document.select("button")
        document["zone13"] <= "本页包含 {} 按钮 ".format(len(buttons))

        # get a list of all tags with class "zone"
        zones = document.select(".zone")
        document["zone13"] <= "和 {} 'zone' 类的元素".format(len(zones))

    document["button13"].bind("click", change)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        <p>我们已经看到了如何通过 id 获取元素：<code>document[element_id]</code>。 这里，<code>document["zone13"]</code> 是按钮右侧的带边框的框。</p>
        <p>方法 <code>select(css_selector)</code> 提供了一种基于 <a href="http://www.w3schools.com/cssref/css_selectors.asp" target="_blank">CSS 选择器语法</a>选择元素的方法。 传递一个标签的名字会返回一个包含这个标签的所有元素的列表； 传递 <code>.zone</code> 返回属性 <code>class<code> 设置为 <code>"zone"</code> 的所有元素的列表。</p>
    </span>
</div>

<div class="example" id="ex14">
    <button id="button14">旋转元素</button>
    <span id="zone14" class="zone">
        <button style="background-color: red; width: 1.5em;" id="rot14">&nbsp;</button>
    </span>

    <script type="text/python" id="script14">
    from browser import document, html

    moving = document["rot14"]
    angle = 10

    def change(event):
        global angle
        moving.style.transform = f"rotate({angle}deg)"
        angle += 10

    document["button14"].bind("click", change)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    <code>transform</code> 是 <code>style</code> 的另一个属性，可以对元素进行更改，包括按指定角度旋转。
    </span>
</div>

<div class="example" id="ex15">
    <button id="button15">动画元素</button>
    <p>
    <div id="zone15" style="padding:0;" class="zone">
        <button style="background-color: #fff; border-width: 0px; color:#000;padding:0;font-size:24px;height:auto;" id="rot15">&#9658;</button>
    </div>

    <script type="text/python" id="script15">
    from browser import document, window

    moving = document["rot15"]
    x = 0
    dx = 3
    run = None

    def change(event):
        global run
        if run is None:
            # 开始动画
            animloop(1)
        else:
            # 停止动画
            window.cancelAnimationFrame(run)
            run = None

    document["button15"].bind("click", change)

    def render():
        global x, dx
        moving.style.transform = "translate({}px,0)".format(x)
        x += dx
        if x > document["zone15"].offsetWidth-moving.offsetWidth:
            dx = -dx
            moving.html = "&#9668;" # 向左的三角形
        elif x <= 0:
            dx = -dx
            moving.html = "&#9658;" # 向右的三角形

    def animloop(t):
        global run
        run = window.requestAnimationFrame(animloop)
        render()
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        <p>浏览器窗口提供 2 个函数来启动和停止动画：<code>requestAnimationFrame</code> 和 <code>cancelAnimationFrame</code>。</p>
        <p>当用户点击按钮时，通过调用带有任意参数的函数 <code>animloop</code> 来启动动画。 <code>window.requestAnimationFrame</code> 以函数本身作为参数调用，返回对动画的引用。 绘图函数 <code>render()</code> 被调用； 然后循环在动画循环的控制下重复执行。</p>
        <p>在 <code>render()</code> 中，为了将元素放置在特定位置，我们使用了另一个变换函数 <code>translate(x, y)</code>。 当移动元素的位置到达盒子边界时，它会反弹，并且它的形状会发生变化。</p>
        <p>如果用户再次单击该按钮，则在动画对象上调用 <code>window.cancelAnimationFrame</code> 会停止动画。</p>
    </span>
</div>

<div class="example" id="ex_mousemove">
    <button id="button_mousemove" style="border-width:0;background-color:inherit;">
        用鼠标移动元素
    </button>
    <b id="moving" style="top:10px; left: 140px;">drag me
    </b>

    <script type="text/python"  id="script_mousemove">
    from browser import document

    class ElementMove:

        def __init__(self, moving):
            """用鼠标使“移动”元素可移动"""
            self.moving = moving
            self.is_moving = False
            self.moving.bind("mousedown", self.start)
            self.moving.bind("mouseup", self.stop)
            moving.style.cursor = "move"

        def start(self, event):
            """当用户点击移动元素时，将 boolean is_moving 设置为 True 并存储鼠标和移动元素的位置"""
            self.is_moving = True
            self.mouse_pos = [event.x, event.y]
            self.elt_pos = [self.moving.left, self.moving.top]
            document.bind("mousemove", self.move)
            # 阻止默认行为以避免选择移动元素
            event.preventDefault()

        def move(self, event):
            """用户移动鼠标"""
            if not self.is_moving:
                return

            # 设置新的移动元素坐标
            self.moving.left = self.elt_pos[0] + event.x - self.mouse_pos[0]
            self.moving.top = self.elt_pos[1] + event.y - self.mouse_pos[1]

        def stop(self, event):
            """当用户释放鼠标按钮时，停止移动元素"""
            self.is_moving = False
            document.unbind("mousemove")

    ElementMove(document["moving"])
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
        <p>此示例使用“click”以外的其他鼠标事件：“mousedown”、“mousemove”和“mouseup”。</p>
        <p>鼠标位置可通过事件对象的属性 <code>x</code>、<code>y</code> 获得。</p>
        <p>元素的位置可以通过定义其属性 <code>left</code> 和 <code>top</code> 来改变。</p>
    </span>
</div>

<div class="example" id="ex_ls">
    <button id="button_ls">使用本地存储</button>
    <p><div id="zone_ls" style="padding-left:1em;"></div>

    <script type="text/python"  id="script_ls">
    from browser import document, window
    from browser.html import TABLE, TR, TD, INPUT, BUTTON

    zone = document["zone_ls"]

    """测试浏览器是否支持本地存储"""
    try:
        storage = window.localStorage
        storage.setItem("x", "x")
        storage.removeItem("x")
    except:
        storage = None

    def action(ev):
        """用户单击“添加”或“移除”按钮"""
        button = ev.target
        row = button.closest("TR")
        if button.text == "移除":
            key = row.get(selector="TD")[0].text
            storage.removeItem(key)
        else:
            key, value = [x.value for x in row.get(selector="INPUT")]
            if key.strip():
                storage.setItem(key, value)
        # 刷新表格
        show()

    def update_value(ev):
        """如果值字段已被修改，则更新存储"""
        row = ev.target.closest("TR")
        key = row.get(selector="TD")[0].text
        value = row.get(selector="INPUT")[0].value
        storage.setItem(key, value)

    def show(*args):
        """显示本地存储的数据，添加按钮以添加/删除项目"""
        zone.clear()

        if storage is None:
            zone <= "此浏览器没有本地存储"
            return

        table = TABLE()
        for i in range(storage.length):
            key = storage.key(i)
            value = storage.getItem(key)
            value_field = INPUT(value=value)
            value_field.bind("change", update_value)
            table <= TR(TD(key) + TD(value_field)+
                TD(BUTTON("移除", Class="btn-ls")))

        table <= TR(TD(INPUT()) + TD(INPUT()) +
            TD(BUTTON("添加", Class="btn-ls")))

        zone <= table

        for button in document["zone_ls"].get(selector="button"):
            button.bind("click", action)

    document["button_ls"].bind("click", show)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    The <a href="https://developer.mozilla.org/en-US/docs/Web/API/Storage" target="_blank">Storage</a> API allows local storage of key/value pairs.
    <p>Notice the use of method <code>elt.closest(tagName)</code> to get the first DOM element with the specified tag name above <code>elt</code>.
    <p>The event "change" on the INPUT field is triggered when the field loses focus, if the value has been modified.
    </span>

</div>

<div class="example" id="ex10">
    <button id="button10">send an Ajax request</button>
    <p><div id="zone10" class="zone" style="padding-left:1em;"></div>

    <script type="text/python"  id="script10">
    from browser import document, ajax

    url = "http://api.open-notify.org/iss-now.json"
    msg = "Position of the International Space Station at {}: {}"

    def complete(request):
        import datetime
        data = request.json
        position = data["iss_position"]
        ts = data["timestamp"]
        now = datetime.datetime.fromtimestamp(ts)
        document["zone10"].text = msg.format(now, position)

    def click(event):
        ajax.get(url, oncomplete=complete, mode="json")
        document["zone10"].text = "waiting..."

    document["button10"].bind("click", click)
    </script>

    <p>
    <i>Warning: this demo only works if this page (demo.html) is served in
    http, not https.</i>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    The module <code class="module">browser.ajax</code> allows sending Ajax calls, ie sending HTTP requests to a URL and handle the reply without having to reload the page.
    <p>Here we use a public API that gives the current position of the International Space Station. The callback function <code>complete()</code> is called when the Ajax call has completed ; its argument has an attribute <code>responseText</code>, the response sent by the server. In this case, the API tells us that it's a JSON string. We decode it with the module <code class="module">json</code> of the standard distribution.
    </span>

</div>

<div class="example" id="ex50">
    <button id="button50">select, read and save a local file</button>

    <script type="text/python" id="script50">
    from browser import bind, window, document

    load_btn = document["rtfile1"]
    save_btn = document["save_file"]

    @bind(load_btn, "input")
    def file_read(ev):

        def onload(event):
            """Triggered when file is read. The FileReader instance is
            event.target.
            The file content, as text, is the FileReader instance's "result"
            attribute."""
            document['rt1'].value = event.target.result
            # display "save" button
            save_btn.style.display = "inline"
            # set attribute "download" to file name
            save_btn.attrs["download"] = file.name

        # Get the selected file as a DOM File object
        file = load_btn.files[0]
        # Create a new DOM FileReader instance
        reader = window.FileReader.new()
        # Read the file content as text
        reader.readAsText(file)
        reader.bind("load", onload)

    @bind(save_btn, "mousedown")
    def mousedown(evt):
          """Create a "data URI" to set the downloaded file content
          Cf. https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs
          """
          content = window.encodeURIComponent(document['rt1'].value)
          # set attribute "href" of save link
          save_btn.attrs["href"] = "data:text/plain," + content


  </script>

    <br><input type="file" id="rtfile1">
    <a id="save_file" href="#" download class="anchor-as-button">save</a>
    <br><textarea id="rt1" rows="20" cols="60" autocomplete="off"></textarea>
    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    This example is a minimalist text editor : it shows how to select a local
    file in the user's machine, display its content in a TEXTAREA, and save the
    TEXTAREA content to disk.
    <p>It uses the interface
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/File" target="_blank" class="external">File</a> of the DOM API.
    </span>
</div>
<div class="example" id="ex5">
    <button id="button5">write in the browser console</button>

    <script type="text/python" id="script5">
    from browser import document

    document["button5"].bind("click", lambda ev: print("Hello !"))
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    By default, <code>print()</code> writes message in the browser console window (to open it, right-click on the page, and click the "Inspect Element" button.
    Safari users cannot see this option initially.).
    <p>Like in Python, the output can be reset by setting <code>sys.stdout</code> to an object with a method <code>write()</code>.
    </span>
</div>

<pre style="display:none" id="catalog">
<CATALOG>
  <CD>
    <ALBUM>Love Bites</ALBUM>
    <ARTIST>Buzzcocks</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <YEAR>1978</YEAR>
  </CD>
  <CD>
    <ALBUM>Turn On The Bright Lights</ALBUM>
    <ARTIST>Interpol</ARTIST>
    <COUNTRY>USA</COUNTRY>
    <YEAR>2002</YEAR>
  </CD>
  <CD>
    <ALBUM>Visions Of A Life</ALBUM>
    <ARTIST>Wolf ALice</ARTIST>
    <COUNTRY>UK</COUNTRY>
    <YEAR>2017</YEAR>
  </CD>
</CATALOG>
</pre>

<div class="example" id="ex18">
    <button id="button18">parse an XML document</button>

    <p><div id="zone18" class="zone" style="padding-left:1em;width:auto;"></div>

    <script type="text/python" id="script18">
    from browser import document, window, html
    parser = window.DOMParser.new()

    def show(node, container):
        if hasattr(node, "tagName"):
            container <= html.STRONG(node.tagName)
            ul = html.UL()
            container <= ul
            for child in node.childNodes:
                show(child, ul)
        elif node.text.strip():
            container <= html.LI(node.text)

    def show_xml(ev):
        # XML source is in a hidden element "catalog" in this page
        src = document["catalog"].html
        tree = parser.parseFromString(src, "application/xml")

        root = tree.firstChild

        show(root, document["zone18"])

    document["button18"].bind("click", show_xml)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    Instead of using the XML modules in Python standard library, it's more efficient
    to use the Web API <a href="">DOMParser</a> to parse XML documents.
    </span>
</div>


<div class="example" id="ex11">
    <button id="button11">use javascript objects : Date</button>
    <span id="zone11" class="zone"></span>

    <script type="text/python" id="script11">
    from browser import document
    import javascript

    def show_date(event):
        date = javascript.Date.new()
        document["zone11"].text = "{}-{:02}-{:02} at {:02}:{:02}:{:02}".format(
            date.getFullYear(), date.getMonth()+1, date.getDate(),
            date.getHours(), date.getMinutes(), date.getSeconds())

    document["button11"].bind("click", show_date)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    Brython provides the modules <code class="module">time</code> and
    <code class="module">datetime</code> of the standard distribution, but it
    can also interact with the objects defined by Javascript.
    <p>To use such objects, import the module <code class="module">javascript</code>:
    it is used to get a reference objects defined by the Javascript language.
    <p>Because the Javascript object <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date" target="_blank"><code>Date</code></a>
    is a constructor (ie a function that returns new objects with the syntax
    <i>var date = new Date()</i>), we create Brython objects with the
    attribute <code>new</code>.
    <p>We then use the attributes of the Javascript instance of
    <code>Date()</code> such as <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getFullYear" target="_blank"><code>getFullYear</code></a>
    with the usual Python syntax.
    </span>
</div>

<div class="example" id="ex17">
    <button id="button17">use javascript objects : RegExp, String</button>
    <span id="zone17" class="zone"></span>

    <script type="text/python" id="script17">
    from browser import document
    import javascript

    def change(event):
        s = javascript.String.new("abracadabra")
        document["zone17"].text = s.replace(javascript.RegExp.new("a", "g"), "i")

    document["button17"].bind("click", change)
    </script>

    <p>
    <pre class="python"></pre>
    <p>

    <span class="comment">
    Similarly, Brython provides the standard Python module
    <code class="module">re</code> for regular expressions, but it can also
    use the Javascript <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions" target="_blank">RegExp</a>
    and <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String" target="_blank">String</a> classes.
    </span>
</div>


<script type="text/python">
from browser import document, html, highlight

# create first menu entry

def intro(ev):
    global current
    if current is not None:
        document[current].style.display = "none"
        document <= document[current]
        document["a"+current].classList.remove("selected")
    example_id = "intro"
    ev.target.classList.add("selected")
    document["panel"].clear()
    document["panel"] <= document[example_id]
    document[example_id].style.display="block"
    current = example_id

anchor = html.A("简介", Class="menu selected", href="#", id="aintro")
anchor.bind("click", intro)

document["menu"] <= html.LI(anchor)
current = "intro"

def load_example(ev):
    global current
    # remove dialogs
    for dialog in document.select(".brython-dialog-main"):
        dialog.remove()
    if current is not None:
        document[current].style.display = "none"
        document <= document[current]
        document["a"+current].classList.remove("selected")
    example_id = ev.target.num
    example = document[example_id]
    ev.target.classList.add("selected")
    document["panel"].clear()
    document["panel"] <= example
    example.style.display="block"
    script = example.get(selector="script")[0]
    src = script.text
    while src.startswith("\n"):
        src = src[1:]
    indent = 0
    while src[indent] == ' ':
        indent += 1
    src = "\n".join(line[indent:] for line in src.split("\n"))
    src = highlight.highlight(src)
    code_elt = example.get(selector="pre")
    if code_elt:
        code_elt[0].html = src.html
    else:
        example <= src
    current = example_id

for example in document.get(selector=".example"):
    # add the Python source inside the example

    # create a menu entry
    button = example.get(selector="button")[0]
    anchor = html.A(button.text, Class="menu", href="#", id="a"+example.id)
    anchor.num = example.id

    anchor.bind("click", load_example)
    document["menu"] <= html.LI(anchor)

    # hide the element
    example.style.display = "none"

</script>
</body>

</html>