<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="16x16">
    <script type="text/javascript" src="{{ url_for('static', filename='brython.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='brython_stdlib.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='code.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <title>{{title}}</title>
</head>
<body>
    <div id="main">