<!doctype html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="16x16">
<script type="text/javascript" src="{{ url_for('static', filename='js/brython.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/brython_stdlib.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/brythonax.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/brython.css') }}">
<style>
.cn, .en{
    display: none;
}

h1{
    text-align: center;
}
</style>
</head>

<body onload="brython(1)">

    <div id="banner_row">
        <h1 class="lan en">Welcome to My Site</h1>
        <h1 class="lan cn">欢迎来到我的小站</h1>
    </div>
    <div id="main-nav">
        <div id="home-div">
            <a id="home-btn" href="{{ url_for('brythonax.home') }}">Home</a>
        </div>
        <div class="sel_lang">
            <div id="div_language"></div>
        </div>
    </div>

<div id="content" style="padding-left: 15%; padding-right: 15%;">
    <div class="lan en">
        <p >Hello, I'm a newbie Pythoner. So I built this website with Python libs (Brython and Flask).</p>
        <p>Here is the <a href="{{ url_for('brythonax.doc') }}">document</a> and <a href="{{ url_for('brythonax.demo',lan='en') }}">demos</a> of Brython. With Brython, we can execute Python scripts directly in html pages.</p>
        <p>Also, I started doing exercises on LeetCode, here is <a href="{{ url_for('brythonax.leetcode') }}">my codes</a>, hope I can stick with it.</p>
        <br>
        {% comment %} <p>I am currently looking for a job and here is my <a href="{{ url_for('brythonax.cv') }}">resume</a>.</p> {% endcomment %}
        <p>Webmaster: Andreevsky, and his brave friend Mona</p>
    </div>
    <div class="lan cn">
        <p>大家好，我是一个Python爱好者。 所以我用 Python 库（Brython 和 Flask）搭建了这个小站。</p>
        <p>这里有 Brython 的 <a href="{{ url_for('brythonax.doc',lan='cn') }}">文档（未完成翻译）</a> 和 <a href="{{ url_for('brythonax.demo',lan='cn') }}">演示</a>。 凭借 Brython，我们可以直接在 html 页面中执行 Python 脚本啦。</p>
        <p>此外，我开始在 LeetCode 上做练习，这是 <a href="{{ url_for('brythonax.leetcode') }}">我的代码</a> ，希望我能坚持下去。</p>
        <br>
        <p>这个网站属于兴趣制作，消磨时间。</p>
        {% comment %} <p>我目前正在找工作，这里是我的<a href="{{ url_for('brythonax.cv') }}">简历</a>。</p> {% endcomment %}
        <p>站长：安德烈夫斯基 和他勇敢的朋友 Mona</p>
    </div>
    <img src="{{ url_for('static', filename='mona.jpg') }}" alt="Mona Icon">
</div>

<script type="text/python" id="languageScript">
from browser import document, html, window, alert

lan_dict = {
    "English":".en",
    "中文":".cn"
}

elements_lan = document.select(".lan")
elements_en = document.select(".en")
elements_cn = document.select(".cn")


def show_lan(lan='.en'):
    for element_lan in elements_lan:
        element_lan.style.display = "none"
    for element_select in document.select(lan):
        element_select .style.display = "inherit"
        
try:
    storage = window.localStorage
    storage.setItem("x", "x")
    storage.removeItem("x")
except:
    storage = None

if storage is None:
    show_lan()
else:
    lan = '.en' if ('lan' not in storage or storage['lan'] not in lan_dict.values()) else storage['lan']
    language = [k for k,v in lan_dict.items() if v==lan]
    show_lan(lan)

def show(ev):
    cur_lan = ev.target.textContent
    if storage is not None:
        if 'lan' in storage and storage['lan'] == lan_dict[cur_lan]:
            return
        storage['lan'] = lan_dict[cur_lan]
    show_lan(storage['lan'])
    document['cur_lan'].innerHTML = cur_lan

menu_lan = html.SPAN("English" if storage is None or 'lan' not in storage else language, id="cur_lan")
menu_lan.setAttribute('Class','language')
div_lan = document.createElement("div")
div_lan.setAttribute('id','language_options')
for lan_name in lan_dict:
    option_lan = document.createElement("p")
    txt = document.createTextNode(lan_name)
    option_lan.appendChild(txt)
    option_lan.bind("click", show)
    div_lan <= option_lan

document['div_language'] <= menu_lan
document['div_language'] <= div_lan
</script>
</body>

</html>