<!doctype html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="16x16">
<title>Leet Code Questions</title>
<style>
body{
    font-size: 14px;
    font-family: Helvetica;
}

a{
    color: #333;
}

a.menu{
    text-decoration: none;
}

a.menu:hover{
    background-color: #ccc;
}

a.selected{
    font-weight: bold;
}

a:visited{
    color: #333;
}

.cn{
    display: none;
}

li{
    list-style-type: none;
}

li.idea{
    list-style-type: inherit;
}

#panel{
    display:table-cell;
    width:65%;
    padding-right:2%;
    text-align: left;
}

question{
    background-color: #eee;
    color: #113;
    font-size: 2em;
}

div.exercise{
    margin-top: 2em;
    display: none;
}

div.examples{
    padding: 15px;
    background: #f4f4f4;
}

pre{
    display: inline-block;
    padding: 1em;
    font-family: Consolas, Courier New;
    color: #ff9;
    background-color: #114;
    border-radius: 10px;
    margin-top: 2em;
    width: 66%;
}

pre.html{
    padding: 0.5em;
}

.zone{
    margin-left: 5em;
    padding: 1em;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
    width: 20em;
}

code{
    font-family: Consolas, Courier New;
    color: #113;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

code.file{
    background-color: #fff;
    font-weigth: bold;
    font-style: italic;
}

#moving{
    position: relative;
    left:140px;
    top:10px;
    font-size:16px;
    padding: 3px;
    background-color: var(--clear-2);
    border-radius: 4px;
}

.up{
    font-size: 1.2em;
}
.down{
    font-size:0.8em;
}

/* colors for highlighted Python code */

span.python-string{
    color: #6aa;
}
span.python-comment{
    color: #6a6;
}
span.python-keyword{
    color: #42ebf4;
}
span.python-builtin{
    color: #0f0;
}

.difficulty_m{
    color: orange;
}

.difficulty_h{
    color: red;
}
</style>

</head>

<body onload="brython({debug: 1, indexedDB: false})">

<h1 style="text-align: center"><a href="https://leetcode.com/" target="_blank" class="external en">LeetCode Exercises</a> <a href="https://leetcode.cn/" target="_blank" class="external cn">力扣练习题</a></h1>

<div id="select_language" style="padding-left: 30px;"></div>

<div style="display:table; width:100%;">
  <div style="display: table-row">
    <div style="display: table-cell; width:20%; vertical-align: top; padding: 5px">
      <ul id="menu" style="padding-left: 10px;">
      </ul>
    </div>
    <div style="" id="panel">
      <div id="intro">
        <h3 class="en">No Bullshit - Answer Questions</h3>
        <h3 class="cn">废话不多说 - 开始刷题</h3>
      </div>
    </div>
  </div>
</div>

<div class="exercise" id="ex985">
    <question id="985" hidden>985.Sum of Even Numbers After Queries 查询后的偶数和</question>
    <question class="en">985. Sum of Even Numbers After Queries</question>
    <question class="cn">985.  查询后的偶数和</question>
    <p class="difficulty_m">Medium</p>

    <script type="text/python" id="script967">
    from typing import List
    
    class Solution:
        def 
    </script>

    <div class="en">
    <p>You are given an integer array <code>nums</code> and an array <code>queries</code> where <code>queries[i] = [val<sub>i</sub>, index<sub>i</sub>]</code>.</p>
    <p>For each query <code>i</code>, first, apply <code>nums[index<sub>i</sub>] = nums[index<sub>i</sub>] + val<sub>i</sub><code>, then print the sum of the even values of <code>nums</code>.</p>
    <p>Return <I>an integer array</I> <code>answer</code> <I>where</I> <code>answer[i]</code> <I>is the answer to the</I> <code>i<sup>th</sup></code> <I>query</I>.</p>
    </div>
    <div class="cn">
    <p>给出一个整数数组 <code>A</code> 和一个查询数组 <code>queries</code>。</p>
    <p>对于第 <code>i</code> 次查询，有 <code>val = queries[i][0], index = queries[i][1]</code>，我们会把 <code>val</code> 加到 <code>A[index]</code> 上。然后，第 <code>i</code> 次查询的答案是 <code>A</code> 中偶数值的和。</p>
    <p><I>（此处给定的 <code>index = queries[i][1]</code> 是从 0 开始的索引，每次查询都会永久修改数组 <code>A</code>。）</I></p>
    <p>返回所有查询的答案。你的答案应当以数组 <code>answer</code> 给出，<code>answer[i]</code> 为第 <code>i</code> 次查询的答案。</p>
    </div>
    <br>
    <p class="en"><b>Example 1:</b></p>
    <p class="cn"><b>示例 1:</b></p>
    <div class="examples en">
        <p><b>Input:</b> n = 3, k = 7</p>
        <p><b>Output:</b> [181,292,707,818,929] </p>
        <p><b>Explanation:</b> Note that 070 is not a valid number, because it has leading zeroes.</p>
    </div>
    <div class="examples cn">
        <p><b>输入:</b> n = 3, k = 7</p>
        <p><b>输出:</b> [181,292,707,818,929]</p>
        <p><b>解释:</b> 注意，070 不是一个有效的数字，因为它有前导零。</p>
    </div>
    <p class="en"><b>Example 2:</b></p>
    <p class="cn"><b>示例 2:</b></p>
    <div class="examples en">
        <p><b>Input:</b> n = 2, k = 1</p> 
        <p><b>Output:</b> [10,12,21,23,32,34,43,45,54,56,65,67,76,78,87,89,98]</p>
    </div>
    <div class="examples cn">
        <p><b>输入:</b> n = 2, k = 1</p>
        <p><b>输出:</b> [10,12,21,23,32,34,43,45,54,56,65,67,76,78,87,89,98]</p>
    </div>
    <p class="en"><b>Constraints:</b></p>
    <p class="cn"><b>提示:</b></p>
    <div class="examples">
        <p>2 <= n <= 9</p>
        <p>0 <= k <= 9</p>
    </div>

    <pre class="python"></pre>

    <p><span class="comment">
        <p class="en">There is no repeated calculation, so brute force recursion is good enough, and no dynamic programming is required.</p>
        <p class="cn">这里没有重复的计算，使用暴力递归即可，无需动态规划。</p>
        <p class="en"><b>My train of thought:</b></p>
        <p class="cn"><b>我的思路:</b></p>
        <p class="en">Repeatedly generate the first non-zero number (1 - 9), and pass it into the recursive function in turn, in the recursion:</p>
        <p class="cn">重复生成首位非零数（1 - 9），将其依次传入递归函数，在递归中：</p>
        <ol class="en">
            <li class="idea">Check if the last digit is currently being generated.</li>
            <ol>
                <li class="idea"><b>YES:</b> check if a valid +k or -k digit can be generated to the end of the current number.</li>
                <ol>
                    <li class="idea"><b>YES:</b> add it to the final list <code>arr</code>.</li>
                </ol>
                <li class="idea"><b>NO:</b> if a valid +k or -k digit can be generated to the end of the current number, pass the new number into the recursion again.</li>
            </ol>
        </ol>
        <oln class="cn">
            <li class="idea">检查当前是否正在生成最后一位数字</li>
            <ol>
                <li class="idea"><b>是：</b>检查是否能生成一个比当前末尾 +k 或 -k 的合法数字。</li>
                <ol>
                    <li class="idea"><b>是：</b>将其加入最终列表<code>arr</code>中。</p></li>
                </ol>
                <li class="idea"><b>不是：</b>如果可以在末尾生成合法的 +k 或 -k 数，则将新的数字再次传入递归。</li>
            </ol>
        </ol>
    </span></p>
    <p><b>Result:</b></p>
    <p>Runtime: <b>56 ms</b>; Beats 73.42 % of python3 submissions.</p>
    <p>Memory Usage: <b>14 MB</b>; Beats 100.00 % of python3 submissions.</p>
</div>

<div class="exercise" id="ex987">
    <question id="967" hidden>987. Vertical Order Traversal of a Binary Tree 二叉树的垂序遍历</question>
    <question class="en">987. Vertical Order Traversal of a Binary Tree</question>
    <question class="cn">987. 二叉树的垂序遍历</question>
    <p class="en difficulty_h">Hard</p>
    <p class="cn difficulty_h">困难</p>

    <script type="text/python" id="script987">
    
    </script>

    <div class="en">
        <p>Given the <code>root</code> of a binary tree, calculate the <b>vertical order traversal</b> of the binary tree.</p>
        <p>For each node at position <code>(row, col)</code>, its left and right children will be at positions <code>(row + 1, col - 1)</code> and <code>(row + 1, col + 1)</code> respectively. The root of the tree is at <code>(0, 0)</code>.</p>
        <p>The <b>vertical order traversal</b> of a binary tree is a list of top-to-bottom orderings for each column index starting from the leftmost column and ending on the rightmost column. There may be multiple nodes in the same row and same column. In such a case, sort these nodes by their values.</p>
        <p>Return the <b>vertical order traversal</b> of the binary tree.</p>
    </div>

    <div class="cn">
        <p>给你二叉树的根结点 <code>root</code> ，请你设计算法计算二叉树的 <b>垂序遍历</b> 序列。</p>
        <p>对位于 <code>(row, col)</code> 的每个结点而言，其左右子结点分别位于 <code>(row + 1, col - 1)</code> 和 <code>(row + 1, col + 1)</code> 。树的根结点位于 <code>(0, 0)</code> 。</p>
        <p>二叉树的 <b>垂序遍历</b> 从最左边的列开始直到最右边的列结束，按列索引每一列上的所有结点，形成一个按出现位置从上到下排序的有序列表。如果同行同列上有多个结点，则按结点的值从小到大进行排序。</p>
        <p>返回二叉树的 <b>垂序遍历</b> 序列。</p>
    </div>

    <br>
    <p class="en"><b>Example 1:</b></p>
    <p class="cn"><b>示例 1:</b></p>
    <img src="{{ url_for('static', filename='987/987_1.bmp') }}" alt="987_1">
    <div class="examples en">
        <p><b>Input:</b> root = [3,9,20,null,null,15,7]  
        <p><b>Output:</b> [[9],[3,15],[20],[7]]
        <p><b>Explanation:</b> </p>
        <p>Column -1: Only node 9 is in this column.</p>
        <p>Column 0: Nodes 3 and 15 are in this column in that order from top to bottom.</p>
        <p>Column 1: Only node 20 is in this column.</p>
        <p>Column 2: Only node 7 is in this column.</p>
    </div>
    <div class="examples cn">
        <p><b>输入:</b> root = [3,9,20,null,null,15,7]</p>
        <p><b>输出:</b> [[9],[3,15],[20],[7]]</p>
        <p><b>解释:</b></p>
        <p>列 -1 ：只有结点 9 在此列中。</p>
        <p>列  0 ：只有结点 3 和 15 在此列中，按从上到下顺序。</p>
        <p>列  1 ：只有结点 20 在此列中。</p>
        <p>列  2 ：只有结点 7 在此列中。</p>
    </div>

    <p class="en"><b>Example 2:</b></p>
    <p class="cn"><b>示例 2:</b></p>
    <img src="{{ url_for('static', filename='987/987_2.bmp') }}" alt="987_2">
    <div class="examples en">
        <p><b>Input:</b> root = [1,2,3,4,5,6,7]  </p>
        <p><b>Output:</b> [[4],[2],[1,5,6],[3],[7]]</p>
        <p><b>Explanation:</b> </p>
        <p>Column -2: Only node 4 is in this column.</p>
        <p>Column -1: Only node 2 is in this column.</p>
        <p>Column 0: Nodes 1, 5, and 6 are in this column.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 is at the top, so it comes first.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 and 6 are at the same position (2, 0), so we order them by their value, 5 before 6.</p>
        <p>Column 1: Only node 3 is in this column.</p>
        <p>Column 2: Only node 7 is in this column.</p>
    </div>
    <div class="examples cn">
        <p><b>输入:</b> root = [1,2,3,4,5,6,7]</p>
        <p><b>输出:</b> [[4],[2],[1,5,6],[3],[7]]</p>
        <p><b>解释:</b> </p>
        <p>列 -2 ：只有结点 4 在此列中。</p>
        <p>列 -1 ：只有结点 2 在此列中。</p>
        <p>列  0 ：结点 1 、5 和 6 都在此列中。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 在上面，所以它出现在前面。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 和 6 位置都是 (2, 0) ，所以按值从小到大排序，</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 在 6 的前面。</p>
        <p>列  1 ：只有结点 3 在此列中。</p>
        <p>列  2 ：只有结点 7 在此列中。</p>
    </div>

    <p class="en"><b>Example 3:</b></p>
    <p class="cn"><b>示例 3:</b></p>
    <img src="{{ url_for('static', filename='987/987_2.bmp') }}" alt="987_2">
    <div class="examples en">
        <p><b>Input:</b> root = [1,2,3,4,6,5,7]</p>
        <p><b>Output:</b> [[4],[2],[1,5,6],[3],[7]]</p>
        <p><b>Explanation:</b> </p>
        <p>This case is the exact same as example 2, but with nodes 5 and 6 swapped.</p>
        <p>Note that the solution remains the same since 5 and 6 are in the same location and should be ordered by their values.</p>
    </div>
    <div class="examples cn">
        <p><b>输入:</b> root = [1,2,3,4,6,5,7]</p>
        <p><b>输出:</b> [[4],[2],[1,5,6],[3],[7]]</p>
        <p><b>解释:</b> </p>
        <p>这个示例实际上与示例 2 完全相同，只是结点 5 和 6 在树中的位置发生了交换。</p>
        <p>因为 5 和 6 的位置仍然相同，所以答案保持不变，仍然按值从小到大排序。</p>
    </div>

    <div class="en">
        <p><b>Constraints:</b></p>
        <ul>
            <li>The number of nodes in the tree is in the range <code>[1, 1000]</code>.</li>
            <li><code>0 <= Node.val <= 1000</code>.</li>
        </ul>
    </div>
    <div class="cn">
        <p><b>提示:</b></p>
        <ul>
            <li>树中结点数目总数在范围 <code>[1, 1000]</code> 内.</li>
            <li><code>0 <= Node.val <= 1000</code>.</li>
        </ul>
    </div>

    <pre class="python"></pre>

    <p><span class="comment">
    </span></p>
    <p><b>Result:</b></p>
    <p>Runtime: <b>56 ms</b>; Beats 73.42 % of python3 submissions.</p>
    <p>Memory Usage: <b>14 MB</b>; Beats 100.00 % of python3 submissions.</p>
</div>

<script type="text/python">
from browser import document, html, highlight, alert

elements_en = document.select(".en")
elements_cn = document.select(".cn")

# language
def show(event):
    dropdown = event.target
    num = dropdown.selectedIndex
    if dropdown.options[num].value == "English":
        for element_cn in elements_cn:
            element_cn.style.display = "none"
        for element_en in elements_en:
            element_en.style.display = "inherit"
    elif dropdown.options[num].value == "Chinese":
        for element_cn in elements_cn:
            element_cn.style.display = "inherit"
        for element_en in elements_en:
            element_en.style.display = "none"

dropdown = html.SELECT(html.OPTION(lan) for lan in ["English", "Chinese"])
dropdown.bind("change", show)
document["select_language"] <= dropdown


# create first menu entry

def intro(ev):
    global current
    if current is not None:
        document[current].style.display = "none"
        document <= document[current]
        document["a"+current].classList.remove("selected")
    exercise_id = "intro"
    exercise = document[exercise_id]
    ev.target.classList.add("selected")
    document["panel"].clear()
    document["panel"] <= exercise
    document[exercise_id].style.display="block"
    current = exercise_id

anchor = html.A("Foreword ", Class="menu selected", href="#", id="aintro")
anchor.bind("click", intro)

document["menu"] <= html.LI(anchor)
current = "intro"

def load_exercise(ev):
    global current
    # remove dialogs
    for dialog in document.select(".brython-dialog-main"):
        dialog.remove()
    if current is not None:
        document[current].style.display = "none"
        document <= document[current]
        document["a"+current].classList.remove("selected")
    exercise_id = ev.target.num
    exercise = document[exercise_id]
    ev.target.classList.add("selected")
    document["panel"].clear()
    document["panel"] <= exercise
    exercise.style.display="block"
    script = exercise.get(selector="script")[0]
    src = script.text
    while src.startswith("\n"):
        src = src[1:]
    indent = 0
    while src[indent] == ' ':
        indent += 1
    src = "\n".join(line[indent:] for line in src.split("\n"))
    src = highlight.highlight(src)
    code_elt = exercise.get(selector="pre")
    if code_elt:
        code_elt[0].html = src.html
    else:
        exercise <= src
    current = exercise_id


for exercise in document.get(selector=".exercise"):
    # add the Python source inside the exercise

    # create a menu entry
    question = exercise.get(selector="question")[0]
    anchor = html.A(question.text, Class="menu", href="#", id="a"+exercise.id)
    anchor.num = exercise.id

    anchor.bind("click", load_exercise)
    document["menu"] <= html.LI(anchor)

    # hide the element
    exercise.style.display = "none"

</script>
<script type="text/javascript" src="{{ url_for('static', filename='brython.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='brython_stdlib.js') }}"></script>

</body>

</html>